.categoryList {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.categoryItem {
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 14px;
}

.categoryItem.love {
  background-color: #f2040431;
}

.categoryItem.business {
  background-color: #2102eb31;
}

.categoryItem.money {
  background-color: #f2ea0533;
}

.categoryItem.lotto {
  background-color: #ff795736;
}

.categoryItem.divorce {
  background-color: #eaff4f45;
}

.categoryItem.other {
  background-color: #5e4fff31;
}
